<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
    <div class="login-wrapper">
        <div class="login-header">
            SIGN UP
        </div>
        <div class="login-body">
            <form th:action="@{/register}" th:object="${user}" method="post">
                
                <label for="fullname">Full Name</label>
                <input type="text" id="fullname" th:field="*{fullname}" required />

                <label for="username">Username</label>
                <input type="text" id="username" th:field="*{username}" required />

                <label for="email">Email</label>
                <input type="text" id="email" th:field="*{email}" required />

                <label for="password">Password</label>
                <input type="password" id="password" th:field="*{password}" required />

                <label for="confirmPassword">Confirm Password</label>
                <input type="password" id="confirmPassword" name="confirmPassword" required />

                <label>User Role</label>
                <div style="margin-bottom: 15px;">
                    <label><input type="radio" th:field="*{role}" value="Student" required /> Student</label><br/>
                    <label><input type="radio" th:field="*{role}" value="Lecturer" required /> Lecturer</label>
                </div>

                <div class="login-options">
                    <span>Already registered?</span>
                    <a th:href="@{/login}">Login here</a>
                </div>

                <button type="submit">Register</button>
            </form>
        </div>
    </div>
</body>
</html>
